/* glowing text */

.glow {
    color: #ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    padding: 1em;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

/* rest of the css */

body {
    background-color: #202c40;
    color: #d4e2eb;
    font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', sans-serif;
}

.circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow:
          0 0 60px 30px #fff,  /* inner white */
          0 0 100px 60px #f0f, /* middle magenta */
          0 0 140px 90px #0ff; /* outer cyan */
}

ul {
    list-style: none;
}

a {
    color: #d87093;
    display: block;
    background-color: #202020;
    padding: 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    box-shadow: 1px 5px 30px 1px #0ff;
}

a:hover {
    box-shadow:
          0 0 60px 30px #fff,  /* inner white */
          0 0 100px 60px #f0f, /* middle magenta */
          0 0 140px 90px #0ff; /* outer cyan */
}

.main2 {
    justify-content: center;
    display: flex;
    width: 101%;
    background-image: url("images/space-7273891_1280.jpg");
    background-attachment: fixed;
    background-size: 170vh;
    box-shadow: inset 1px 5px 100px 1px #000;
}

.stickyDiv {
    /* width: 300%; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: -50em;
    background-color: #202020;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.mainDiv {
    justify-content: center;
    display: flex;
    width: 75%;
    flex-direction: column;
}

.sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    background-image: url("images/right-side-img.png");
    /*background-position: fixed;*/
    background-repeat: no-repeat;
    border-radius: 3em;
    height: 100%;
    width: 10%;
}

.sidebar a {
    display: block;
}

.div1, .div2, .div4 {
    background-color: rgb(56, 49, 49);
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
}

.div1 {
    background-image: url("images/spaceship-5570682_1280.jpg");
    background-blend-mode: overlay;
    display: flex;
    flex-direction: row;
    border: solid 2px #808080;
    box-sizing: border-box;
    height: auto;
    overflow: auto;
    align-content: space-around;
}

.div1 img {
    max-width: 50%;
    display: flex;
    padding: 1em;
}

.div1 p {
    max-width: 100%;
    display: flex;
    padding: 1em;
}

@media (max-width: 800px) {
    .div1 {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}


.div2 {
    box-shadow: 1px 5px 100px 1px #0ff;
}

.div2 div {
    justify-content: center;
    display: flex;
}

.div1 div p, img {
    padding: 1em;
}

.div3 {
    /* background-color: #fff; */
    border: solid 2px #808080;
    /* box-shadow:
      inset 60px 0 120px rgb(10, 247, 247), 
      inset -60px 0 120px rgb(255, 0, 212);  */ 
      display: flex;
      justify-content: space-around;
      padding: 1em;
      margin: 1em;
      border-radius: 2em;
}

.div3 div {
    height: 150px;
    width: 170px;
    border-color: #fff;
    border-width: 1em;
    border-radius: 1em;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
    display: none;
}

.show:hover > .hide {
    display: block;
  }

.div3 div:nth-last-child(4) {
    background-image: url("images/smalldiv1.png");
}

.div3 div:nth-last-child(1) {
    background-image: url("images/smalldiv2.png");
}

.div3 div:nth-last-child(2) {
    background-image: url("images/smalldiv3.png");
    color: #000;
}

.div3 div:nth-last-child(3) {
    background-image: url("images/smalldiv4.png");
}

.div4 {
    background-image: url("images/laptop.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:hard-light;
    background-size: cover;
    color: #fff;
    font-weight: bolder;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.75);
}

.div4 h2 {
    font-size: 4em;
  /*  line-height: calc(20px + 20vh);
     text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }

  .div4 div {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: #fff;
    box-shadow: 1px 1px 12px 14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 14px rgba(0,0,0,0.75);
    text-align: center;
    padding: 1em;
  }